@media only screen and (max-width: 1024px) {
  .absoluteChk {
    position: absolute !important;
    top: 35%;
  }
}

@media only screen and (max-width: 768px) {
  .social {
    left: 2vw !important;
  }
  .customNew {
    font-size: 12px !important;
  }
  .bThree h3 {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 767px) {
  .btnAbs .btn-left, .btnAbs .btn-right {
    padding: 6px 12px 6px 12px !important;
  }
}

@font-face {
  font-family: 'Core Rhino 85';
  src: url("../fonts/CoreRhino85Black.woff2") format("woff2"), url("../fonts/CoreRhino85Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.col-md-7 img {
  pointer-events: none !important;
}

.inkBlot {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  z-index: -1;
  opacity: 1;
  -webkit-transition: all ease 0.5;
  transition: all ease 0.5;
}

.halfOp {
  opacity: 0.5;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.bg-transparent {
  background: none !important;
}

button {
  outline: none !important;
  border: none !important;
}

.social {
  z-index: 999;
  position: fixed;
  left: 5vw;
  top: 50%;
  right: 0;
  width: 45px;
}

.social .firstClass, .social .secondClass {
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5em;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
  background: #fff;
}

.social .secondClass img {
  margin-top: -0.3em;
}

.social a {
  color: #106C5A;
}

.social a:hover {
  color: #106C5A;
}

.social i {
  margin-bottom: 1em;
}

.social i.fab.fa-instagram {
  margin-bottom: auto !important;
}

.t150 {
  padding: 1 !important;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
}

.t150 img {
  margin-top: -0.2em;
}

.auCont2 {
  padding: 0.48em 0.40em 0.48em 0.40em !important;
}

.auCont2 i {
  color: #106C5A;
}

.auCont, .auCont2 {
  display: inline-block;
  cursor: pointer;
  background: #fff;
  border-radius: 2em;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
  padding: 0.4em 0.55em 0.4em 0.55em;
}

.auCont .bgT, .auCont2 .bgT, .auCont .bgT1, .auCont2 .bgT1, .auCont .bgT2, .auCont2 .bgT2, .auCont .bgT3, .auCont2 .bgT3 {
  height: 2px;
  background-color: #106C5A;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.auCont .bgT1, .auCont2 .bgT1 {
  width: 25px;
}

.auCont .bgT2, .auCont2 .bgT2 {
  width: 25px;
}

.auCont .bgT3, .auCont2 .bgT3 {
  width: 25px;
}

h1, h2, h3, h4, h5 {
  font-family: "Core Rhino 85";
  color: #106C5A;
}

body, p, span {
  font-family: "Open Sans", sans-serif;
  color: #106C5A;
}

p {
  font-size: calc(10px + 0.5vw) !important;
}

.mt-10 {
  margin-top: 7em;
}

.vh-30 {
  min-height: 30vh;
  height: 30%;
}

.vh-50 {
  min-height: 50vh;
  height: 50%;
}

.ladder {
  min-height: 100vh;
  height: 100%;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 999;
}

header {
  min-height: 100vh;
  height: 100%;
}

header h1 {
  font-size: calc(20px + 3vw) !important;
}

#animaT0, #animaT1, #animaT2, #animaT3, #animaT4 {
  -webkit-transition: all ease 2s;
  transition: all ease 2s;
  opacity: 0;
}

.showMe {
  opacity: 1 !important;
  -webkit-transition: all ease 2s;
  transition: all ease 2s;
}

hr {
  border: 1px solid #106C5A !important;
}

.bOne {
  background-color: #F3F1EA;
  background-image: url("../materials/mushroom.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.bOne h1 {
  font-size: calc(20px + 2vw) !important;
}

.btn-left {
  background: transparent;
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
  border: solid 1px #106C5A !important;
  border-radius: 5em !important;
  padding: 9px 15px 9px 15px !important;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.btn-left:hover {
  background: #106C5A;
}

.btn-left:hover img {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(103%) contrast(200%) !important;
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(103%) contrast(200%) !important;
}

.btn-right {
  background: #fff;
  -webkit-transform: rotate(-90deg) !important;
          transform: rotate(-90deg) !important;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
  border: solid 1px #fff !important;
  border-radius: 5em !important;
  padding: 9px 15px 9px 15px !important;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.btn-right:hover {
  background: #106C5A;
  border: solid 1px #106C5A !important;
}

.btn-right:hover img {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(103%) contrast(200%) !important;
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(103%) contrast(200%) !important;
}

.arg0_swiper {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/*
.mtNegative {
    margin-top: -5.5vh;
    padding-bottom: 2.5vh;
} 

.mtNegative {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -50px;
}*/
.bTwo {
  background-image: url("../materials/sec3bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.bTwo h1 {
  font-size: calc(20px + 2vw) !important;
}

.slick-slide {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-left-flat {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
  background: #fff;
}

.btn-right-flat {
  -webkit-transform: rotate(-90deg) !important;
          transform: rotate(-90deg) !important;
  background: #fff;
}

.btnBg, .btnAbs2 {
  background: #fff;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.btnAbs2 {
  position: relative;
  width: auto;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
}

.absOne {
  position: absolute;
  left: 0;
}

.absTwo {
  position: absolute;
  right: 0;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #acaba9;
}

.col-md-10 hr {
  background: #acaba9;
  border: solid 1px #acaba9 !important;
}

.bThree {
  height: 100%;
  min-height: 100vh;
  background: #F3F1EA;
}

.bThree img {
  padding: 1em;
  border: 1px solid #acaba9;
}

.slick-dots {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none !important;
}

.bFour {
  background: url("../materials/kitchen.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.bFour h3 {
  font-weight: 400;
  font-size: calc(10px + 0.8vw);
  color: #106C5A;
}

.bFour iframe {
  padding: 1em;
  border: solid 1px #acaba9;
}

.newBtn {
  position: absolute;
  margin-top: -250px;
  left: 0;
  right: 0;
}

.customNew {
  border: solid 1px #106C5A !important;
  border-radius: 0px !important;
  color: #106C5A !important;
  background: transparent;
  outline: none !important;
  -webkit-box-shadow: initial !important;
          box-shadow: initial !important;
}

.customNew:hover {
  color: #fff !important;
  border-color: #e23629 !important;
  background: #e23629;
}

.border-new {
  border: solid 1px #106C5A;
  width: 250px;
  background: #fff;
  padding: 1.3em 2em 1em 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

.secSix {
  background-color: #F3F1EA;
  background-image: url("../materials/mushroom.png");
  background-repeat: no-repeat;
  background-position: right;
}

.secSix a {
  color: #106C5A;
  text-decoration: none;
}

.secSix a:hover {
  text-decoration: none !important;
  color: #106C5A;
}

.form-control {
  border-radius: 0px !important;
  background: transparent !important;
  outline: none !important;
  -webkit-box-shadow: initial !important;
          box-shadow: initial !important;
}

.btn-Custom {
  background: transparent !important;
  color: #106C5A !important;
  border-radius: 0px !important;
  border: solid 1px #106C5A !important;
  width: 100%;
}

.btn-Custom:hover {
  color: #fff !important;
  background: #106C5A !important;
}

#swiper-2 {
  margin-top: -45px;
  right: 15px;
}

.pAbs {
  position: absolute;
  z-index: 999 !important;
  right: 0;
  width: 20%;
  margin-top: 2em;
}

textarea {
  resize: none !important;
}

footer::before {
  content: '';
  position: absolute;
  left: 0;
  margin-top: -30px;
  right: 0;
  width: 100%;
  height: 30px;
  background-image: url("../materials/cutPaper.png");
}

footer .col-md-10 p {
  font-size: 16px !important;
}

footer .col-md-10 a {
  color: #106C5A;
}

footer .col-md-10 a:hover {
  color: #106C5A;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */