$black: #000;
$white: #fff;
$green: #106C5A;
$custom: #F3F1EA;
$clear: none !important;
$reset: initial !important;
$mainFont: 'Open Sans', sans-serif;
$titleFont: 'Core Rhino 85';
$red: #e23629;

@media only screen and (max-width: 1024px) {
    .absoluteChk {
        position: absolute !important;
        top: 35%;
    }


}

@media only screen and (max-width: 768px) {
    .social {
        left: 2vw !important;
    }
    .customNew {
        font-size: 12px !important;
    }
    .bThree {
        h3 {
            font-size: 18px !important;
        }
    }
}


@media only screen and (max-width: 767px) {
    .btnAbs {

        .btn-left, .btn-right {
            padding: 6px 12px 6px 12px !important;
        }
    }
}

@font-face {
    font-family: 'Core Rhino 85';
    src: url('../fonts/CoreRhino85Black.woff2') format('woff2'),
        url('../fonts/CoreRhino85Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.col-md-7 {
    img {
        pointer-events: $clear;
    }
}

.inkBlot {
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
    opacity: 1;
    transition: all ease 0.5;
  }


  .halfOp {
      opacity: 0.5;
      transition: all ease 1s;
  }

.bg-transparent {
    background: $clear;
}

button {
    outline: $clear;
    border: $clear;
}

.social{
    z-index: 999;
    position: fixed;
    left: 5vw;
    top: 50%;
    right: 0;
    width: 45px;
    .firstClass {
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 5em;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
        -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.3);
        box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.3);
        background: $white;
    }

    .secondClass {
        @extend .firstClass;
        img {
            margin-top: -0.3em;
        }
    }

    a {
        color: $green;
        &:hover {
            color: $green;
        }
    }
    i {
        margin-bottom: 1em;
    }

    i.fab.fa-instagram {
        margin-bottom: auto !important;
    }
}

.t150 {
    padding: 1 !important;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.3);
    img {
        margin-top: -0.2em
    }
}

.auCont2 {
    @extend .auCont;
    padding: 0.48em 0.40em 0.48em 0.40em !important;
    i {
        color: $green;
    }
}

.auCont {
    display: inline-block;
    cursor: pointer;
    background: $white;
    border-radius: 2em;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.3);
    padding: 0.4em 0.55em 0.4em 0.55em;
    
    .bgT {
    height: 2px;
    background-color: $green;
    margin: 6px 0;
    transition: 0.4s;
}

    .bgT1 {
    @extend .bgT;
    width: 25px;
}

    .bgT2 {
    @extend .bgT;
    width: 25px;
}

    .bgT3 {
    @extend .bgT;
    width: 25px;
}
}

h1, h2, h3, h4, h5 {
    font-family: $titleFont;
    color: $green;
}

body, p, span {
    font-family: $mainFont;
    color: $green;
}

p {
    font-size: calc(10px + 0.5vw) !important;
}

.mt-10 {
    margin-top: 7em;
}

.vh-30 {
    min-height: 30vh;
    height: 30%;
}

.vh-50 {
    min-height: 50vh;
    height: 50%;
}

.ladder {
    min-height: 100vh;
    height: 100%;
}

.logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 999;
}

header {
    min-height: 100vh;
    height: 100%;
    h1 {
        font-size: calc(20px + 3vw) !important;
    }  
}



#animaT0, #animaT1, #animaT2, #animaT3, #animaT4 {
    transition: all ease 2s;
    opacity: 0;
}

.showMe {
    opacity: 1 !important;
    transition: all ease 2s;
}

hr {
    border: 1px solid $green !important;
}


.bOne {
    background-color: $custom;
    background-image: url('../materials/mushroom.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    h1 {
        font-size: calc(20px + 2vw) !important;
    }  
}

.btn-left {
    background: transparent;
    transform: rotate(90deg) !important;
    border: solid 1px $green !important;
    border-radius: 5em !important;
    padding: 9px 15px 9px 15px !important;
    transition: all ease 0.5s;
    &:hover {
        background: $green;
        img {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(103%) contrast(200%) !important;
        }
    }
}

.btn-right {
    background: $white;
    transform: rotate(-90deg) !important;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.3);
    border: solid 1px $white !important;
    border-radius: 5em !important;
    padding: 9px 15px 9px 15px !important;
    transition: all ease 0.5s;
    &:hover {
        background: $green;
        border: solid 1px $green !important;
        img {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(103%) contrast(200%) !important;
        }
    }
}

.arg0_swiper {
    outline: $clear;
    box-shadow: $clear;
}

/*
.mtNegative {
    margin-top: -5.5vh;
    padding-bottom: 2.5vh;
} 

.mtNegative {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -50px;
}*/


.bTwo {
    background-image: url('../materials/sec3bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    h1 {
        font-size: calc(20px + 2vw) !important;
    }  
}


.slick-slide {
    outline: $clear;
    box-shadow: $clear;
}

.btn-left-flat {
    transform: rotate(90deg) !important;
    background: $white;
}

.btn-right-flat {
    transform: rotate(-90deg) !important;
    background: $white;
}

.btnBg {
    background: $white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.btnAbs2 {
    @extend .btnBg;
    position: relative;
    width: auto;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.3);
}

.absOne {
    position: absolute;
    left: 0;

}

.absTwo {
    position: absolute;
    right: 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #acaba9;
}

.col-md-10 {
    hr {
        background: #acaba9;
        border: solid 1px #acaba9 !important;
    }
}


.bThree {
    height: 100%;
    min-height: 100vh;
    background: $custom;
    img {
        padding: 1em;
        border: 1px solid #acaba9;
    }
}

.slick-dots {
    justify-content: center;
    list-style: none;
    display: flex;
    text-decoration: none !important;
}

.bFour {
    background: url('../materials/kitchen.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    h3 {
        font-weight: 400;
        font-size: calc(10px + 0.8vw);
        color: $green;
    }
    iframe {
        padding: 1em;
        border: solid 1px #acaba9;
    }
}

.newBtn {
    position: absolute;
    margin-top: -250px;
    left: 0;
    right: 0;
}

.customNew {
    border: solid 1px $green !important;
    border-radius: 0px !important;
    color: $green !important;
    background: transparent;
    outline: $clear;
    box-shadow: $reset;
    &:hover {
        color: $white !important;
        border-color: $red !important;
        background: $red;
    }
}

.border-new {
    border: solid 1px $green;
    width: 250px;
    background: $white;
    padding: 1.3em 2em 1em 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.secSix {
    background-color: $custom;
    background-image: url('../materials/mushroom.png');
    background-repeat: no-repeat;
    background-position: right;
    a {
        color: $green;
        text-decoration: none;
        &:hover {
            text-decoration: none !important;
            color: $green;
        }
    }
}

.form-control {
    border-radius: 0px !important;
    background: transparent !important;
    outline: $clear;
    box-shadow: $reset;
}

.btn-Custom {
    background: transparent !important;
    color: $green !important;
    border-radius: 0px !important;
    border: solid 1px $green !important;
    width: 100%;
    &:hover {
        color: $white !important;
        background: $green !important;
    }
}



#swiper-2 {
    margin-top: -45px;
    right: 15px;
}

.pAbs {
    position: absolute;
    z-index: 999 !important;
    right: 0;
    width: 20%;
    margin-top: 2em;
}



textarea {
    resize: none !important;
}


footer {
    &::before {
        content: '';
        position: absolute;
        left: 0;
        margin-top: -30px;
        right: 0;
        width: 100%;
        height: 30px;
        background-image: url('../materials/cutPaper.png');
    }
    .col-md-10 {
        p {
            font-size: 16px !important;
        }
        a {
            color: $green;
            &:hover {
                color: $green;
                text-decoration: none;
            }
        }
    }
}

